nav{
    background-color: #262626;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    border-bottom: 1px solid #1b1b1b;
    .navbar-brand{
        color: #fff;
    }
}