.item{
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 15px;
    float: left;
    cursor: pointer;
    .tags{
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 5px;
        app-tag{
            margin-right: 5px;
            float: right;
        }
    }
}