
.left-nav{
    width: 150px;
    height: calc(100% - 57px);
    background: #262626;
    border-right: 1px solid  #1b1b1b;
    float: left;
    padding: 15px;
    .tag{
        padding: 5px;
        display: block;
        cursor: pointer;
    }
}