.search {
    position: relative;
    z-index: 100;
    input{
        width: 100%;
        background: #313131;
        border: none;
        padding: 6px 15px;
        color: #e1e1e1;
        outline: none;
    }
    .dropdown {
        position: absolute;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.31);
        border-top: none;
        background: #313131;
        margin-top: -2px;
        ul{
            width: 100%;
            margin: 0px;
            padding: 0px;
            display: inline-block;
            list-style:none;
            li{
                color: #e1e1e1;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.31);
                &:hover, &.active{
                    background: rgba($color: #fff, $alpha: 0.1);
                }
            }
        }

    }
}