<div class="full-photo" *ngIf="opend">
  <div class="blur"></div>
  <div class="wrapper">
      <div class="close" (click)="close()">x</div>
      <div class="details">
        <div *ngFor="let tag of picture.tags">
          <div class="tag">
            <app-tag>{{tag.name}}</app-tag>
          </div>
        </div>
        <div class="row search">
          <div class="col-12">
            <app-search [picture]="picture"></app-search>
          </div>
        </div>
      </div>

      <div class="photo">
        <img src="{{picture.getImageUrl()}}" alt="Image">
      </div>
  </div>
</div>