.full-photo{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;    
    width: 100vw;
    height: 100vh;
    z-index: 1000;    
    .blur{
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.61);
        left: 0;
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        -o-filter: blur(4px);
        filter: blur(10px);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .wrapper{
        position: absolute;
        background: #262626;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 95%;
        height: 95%;     
        border: 1px solid rgba(1,1,1,0.2);
        z-index: 2;
        .close{
            position: absolute;
            top:-15px;
            right: -15px;
            width: 30px;
            height: 30px;
            color: #fff;
            border-radius: 100px;
            background: #262626;
            border: 1px solid #fff;
            text-align: center;
            z-index: 3;
        }
        .details{
            height: 100%;
            background: #e1e1e1;
            width: 200px;
            float: left;
            padding: 15px;
            .tag{
                display: inline-block;
            }
            .search{
                margin-top: 15px;
            }
        }   
        .photo{
            position: relative;
            height: 100%;
            background: #555;
            width: calc(100% - 200px);
            float: left;
            img{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                max-width: 100%;
                max-height: 100%
            }
        }
    }    
}