.tag {
    display: block;
    color: white;
    padding: 0px 2px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}