<section class="browse">
  <div class="row" *ngFor="let row of picturesList">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2" *ngFor="let picture of row">
      <app-item [picture] = "picture" (click)="open(picture)"></app-item>
    </div>
  </div>


</section>