.browse {
    width: calc(100% - 150px);
    height: calc(100% - 57px);
    background: #313131;
    float: left;
    padding: 20px;
    overflow: auto;
    .row{
        padding-right: 15px;
        [class^='col-'] {
            padding-right: 0px;
        }
    }
    
}