/* You can add global styles to this file, and also import other style files */

@media (min-width: 1600px) {
    @for $i from 1 through 12 {
        $width: $i / 12 * 100;
        .col-xxl-#{$i} {
            -ms-flex: 0 0 unquote($width + '%');
            flex: 0 0 unquote($width + '%');
            max-width: unquote($width + '%');
        }
    }   
}

html, body{
    background-color:#343a40;
    width: 100%;
    height: 100%;
}
